/* Global layout*/
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.ant-layout-content {
    /*height: calc(100vh - 168px);*/
}

.ant-card-small > .ant-card-body {
    padding: 0px !important;
}

.ant-card-small > .ant-card-body > .ant-card-body-inner {
    padding: 40px 40px 0px 40px !important;
}

.ant-card-small > .ant-card-body > .ant-card-footer-inner {
    padding: 20px;
    border-top: 1px solid #f0f0f0;
}

/* Form */
.skill-collection {
    display: flex;
}

.skill-collection > div {
    margin-right: 20px;
    width: 50%;
}

label {
    margin-bottom: 20px;
}

.has-error > label {
    color: red;
}

.has-error > span {
    border-color: #ff4d4f;
    color: red;
}

.has-error > label > span > .ant-radio-inner {
    border-color: red;
}

.ant-alert {
    margin-top: 10px !important;
}
